@model SalesWebMvc.Models.ViewModels.SellerFormViewModel;

@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div>
                <label asp-for="Seller.Name" class="form-label"></label>
                <input asp-for="Seller.Name" class="form-control" />
            </div>
            <div>
                <label asp-for="Seller.Email" class="form-label"></label>
                <input asp-for="Seller.Email" class="form-control" />
            </div>
            <div>
                <label asp-for="Seller.BirthDate" class="form-label"></label>
                <input asp-for="Seller.BirthDate" class="form-control" />
            </div>
            <div>
                <label asp-for="Seller.BaseSalary" class="form-label"></label>
                <input asp-for="Seller.BaseSalary" class="form-control" />
            </div>
            <div>
                <label asp-for="Seller.DepartamentId" class="form-label"></label>
                <select asp-for="Seller.DepartamentId" asp-items="@(new SelectList(Model.Departaments, "Id", "Name"))" class="form-select"></select>
            </div>
            <div style="margin-top:8px">
                <button type="submit" class="btn btn-secondary">Create</button>
            </div>
        </form>
    </div>
</div>
